<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <p>You decide to call your good friend TJay. He happily answers and asks you how you are doing. You response that you're doing well, completely forgetting to mention the dire situation, right before TJay challenges you to a Table Tennis game. You decide to enter the car, since it's the only way you can make it to the match in time. What now?</p>
    <ul>
      <li><a href="/lose">Lose to TJay in table tennis</a></li>
    </ul>
  </body>
</html>
