<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <p>You slowly enter the car. It smells vaguely of citrus. Kind of like how those flavored waters don't actually taste like the flavor they advertise, but instead just kinda feel like while you're drinking water someone whispered the name of a fruit into your ear. Yeah... Anyway, the car automatically locks all the doors and speeds down the street, whilst respecting traffic and speed laws, of course. What should you do now?</p>
    <ul>
      <li><a href="/call">Call TJay</a></li>
      <li><a href="/jump">Jump out of the car window</a></li>
      <li><a href="/wait">Wait</a></li>
    </ul>
  </body>
</html>
