<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <p>You run faster, but the car keeps following you. What now?</p>
    <ul>
      <li><a href="/call">Call TJay</a></li>
      <li><a href="/hide">Hide</a></li>
      <li><a href="/enter">Get in the car</a></li>
    </ul>
  </body>
</html>
