<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
  </head>
  <body>
    <h1>Welcome to CSSI...</h1>
    <p>You've just gotten out of CSSI for the day and are on your way to have dinner. As you're waiting at the corner, a self-driving car pulls up.</p>
    <p>The door opens...and no one is inside. What do you do?</p>
    <ul>
      <li><a href="/run">Run away</a></li>
      <li><a href="/enter">Jump in the car</a></li>
      <li><a href="/photo">Take a picture</a></li>
      <li><a href="/911">Call 911</a></li>
    </ul>
  </body>
</html>
